.box {
    display: inline-block;
    background: black;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 5px black;
    cursor: default !important;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    margin: 20px;

    .button-group {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .close {
        color: white;
        float: right;

        &:hover {
            cursor: pointer;
        }
    }

    .camera-container {
        height: 80%;

        .camera-focus {
            border-color: black !important;
        }
    }
}

.btn-capture {
    width: 60px;
    height: 60px;
    background-color: white;
    border-radius: 50%;
    box-shadow: black 0px 0px 0px 3px, white 0px 0px 3px 3px;

    &:hover {
        box-shadow: 0px 0px 3px 3px green;
    }
}

.btn-circle {
    width: 50px;
    height: 50px;
    background-color: white;
    border: 1px solid white;
    border-radius: 50%;

    &:hover {
        box-shadow: 0px 0px 3px 3px green;
    }

    img, iframe {
        width:100%;
        height:100%;
        border-radius: 50%;
    }
}