.modal {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
  }
  
  .modal-main {
    position:fixed;
    background: black;
    width: 100%;
    height: 100%;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    align-items: center;
    display: flex;

    .modal-close {
      position: absolute;
      color: white;
      right: 10px;
      top: 10px;
    }
  }
  
  .display-block {
    display: block;
  }
  
  .display-none {
    display: none;
  }